/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.cache
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.runs
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.sim
