/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.cache
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.runs
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.sim
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.srcs/utils_1
/Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.srcs/utils_1
linux/spi_frame_reader/spi_frame_reader
Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.srcs/utils_1/imports/synth_1/spi_bulk_slave.dcp
Vivado/SPI_FAST_BULK_SLAVE_EXAMPLE/SPI_FAST_BULK_SLAVE_EXAMPLE.hw/SPI_FAST_BULK_SLAVE_EXAMPLE.lpr
